    .container-fluid{
        font-family: Arial, sans-serif;
        background-color: azure; 
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 50vh;
    
    }

    /* Table Styles */
    table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px auto;
        background-color: #fff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }

    th, td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
    }

    tbody tr:hover {
        background-color: #f5f5f5;
    }

    /* Center the table */
    #resultTable {
        text-align: center;
    }

    /* Additional styles for the page */
   

    h2 {
        text-align: center;
        color: #007bff;
    }

    /* Add more styles to make the table look colorful and attractive */
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    th, td {
        color: #333;
    }

    /* Highlight the header row */
    th:hover {
        background-color: #FF4500;
        color: #fff;
    }

    /* Add hover effect to rows */
    tbody tr:hover {
        background-color: #CCCCFF;
        color: #fff;
    }
